<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${functionName == 'login'}">
    <div th:insert="~{auth/login}"></div>
</div>
<div th:if="${functionName == 'forget'}">
    <div th:insert="~{auth/forget}"></div>
</div>
<div th:if="${functionName == 'forget-otp'}">
    <div th:insert="~{auth/forget-otp}"></div>
</div>
<div th:if="${functionName == 'register'}">
    <div th:insert="~{auth/register}"></div>
</div>
</body>
</html>