<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div>
    <form class="form" action="/exam/init" method="GET">
        <h1 class="col-12">Khởi tạo bài thi</h1>
        <div class="col-12">
            <select class="form-control col-3" name="level">
                <option value="EASY" selected>Dễ</option>
                <option value="NORMAL">Trung bình</option>
                <option value="HARD">Khó</option>
            </select>
        </div>
        <div class="col-12">
            <input class="btn btn-primary" type="submit" value="Tạo bài thi"/>
        </div>
    </form>
</div>
</body>
</html>