<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div th:if="${functionName =='main'}">
    <div th:insert="~{exam/before-init}"></div>
</div>
<div th:if="${functionName =='init'}">
    <div th:insert="~{exam/init}"></div>
</div>
<div th:if="${functionName =='doing'}">
    <div th:insert="~{exam/doing}"></div>
</div>
<div th:if="${functionName =='result'}">
    <div th:insert="~{exam/result}"></div>
</div>
<div th:if="${functionName =='history'}">
    <div th:insert="~{exam/history}"></div>
</div>
<div th:if="${functionName =='history-detail'}">
    <div th:insert="~{exam/history-detail}"></div>
</div>
<div th:if="${functionName =='list'}" class="container my-5">
    <div th:insert="~{exam/list}"></div>
</div>
<div th:if="${functionName =='create'}" class="container my-5">
    <div th:insert="~{exam/create}"></div>
</div>
</body>
</html>