<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:if="${updateUserMsg != '' && updateUserMsg != null}" class="alert alert-success" role="alert">
        <span th:text="${updateUserMsg}"></span>
    </div>
    <h1>Thông tin người dùng</h1>
    <form class="form row m-0" action="/user/update" method="POST" enctype="multipart/form-data">
        <div class="col-4">
            <label for="avatar">Ảnh đại diện</label>
            <div class="ratio ratio-1x1" style="object-fit: cover">
                <img id="avatar" src="https://i.ytimg.com/vi/d9mXDMkTA34/maxresdefault.jpg"
                     class="w-100 h-100" alt="avatar"/>
                <input type="file" id="avatarFile" accept="image/*" name="avatar" value="Thay đổi ảnh đại diện"/>
            </div>
        </div>
        <div class="col-8">

            <div class="col-12">
                <label for="name">Tên hiển thị</label>
                <input type="text" class="form-control" id="name" name="fullName" th:value="${userInfo.fullName}"
                       placeholder="Nhập họ và tên">
            </div>
            <div class="col-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="text" th:value="${userInfo.email}"
                       readonly>
            </div>
            <div class="col-12">
                <input type="submit" class="form-control btn-primary" value="Cập nhật"/>
            </div>
        </div>
    </form>

</div>
</body>
</html>