<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${functionName == 'list'}">
    <h1>Teacher</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Tên giáo viên</th>
            <th>Tuổi giáo viên</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <div th:each="teacher : ${teacherList}">
            <tr>
                <td th:text="${teacher.name}"></td>
                <td th:text="${teacher.age}"></td>
                <td><a th:href="'/teacher/edit?id='+ ${teacher.id}">Sửa</a></td>
                <td><a th:href="'/teacher/delete?id='+ ${teacher.id}">Xóa</a></td>
            </tr>
        </div>
    </table>
    <a class="btn btn-primary" href="/teacher/create">Tạo mới</a>
</div>
<div th:if="${functionName == 'create'}">
    <div th:include="~{teacher/teacher_create}"></div>
</div>
<div th:if="${functionName == 'update'}">
    <div th:include="~{teacher/teacher_update}"></div>
</div>
</body>
</html>