<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tạo mới giáo viên</h1>
<form class="form" action="/teacher/edit" method="post">
    <div class="mb-3">
        <label>Tên giáo viên</label>
        <input class="form-control" type="text" name="name" th:value="${teacher.name}">
    </div>
    <div class="mb-3">
        <label>Tuổi giáo viên</label>
        <input class="form-control" type="text" name="age" th:value="${teacher.age}">
    </div>
    <a href="/teacher" class="btn btn-secondary" type="submit">Quay lại</a>
    <button class="btn btn-primary" type="submit">Cập nhật</button>
    <input type="text" name="id" th:value="${teacher.id}" hidden>
</form>
</body>
</html>